### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Preview csv data
#purchase_data.columns
purchase_data.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

## Player Count

* Display the total number of players

In [44]:
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame(
    {"Total Players":[player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
# Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())

# Average Price
average_price = purchase_data["Price"].mean()

# Number of Purchases
no_of_purchases = len(purchase_data["Purchase ID"].unique())

# Total Revenue
total_revenue = purchase_data["Price"].sum()

# Print all totals
unique_items, average_price, no_of_purchases, total_revenue

# Create new DataFrame to hold all data
purchasing_analysis_total = pd.DataFrame(
    {"Number of Unique Items":[unique_items],
     "Average Price":[average_price],
     "Number of Purchases":[no_of_purchases],
     "Total Revenue":[total_revenue]})

# Overriding column with new format
purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].map('${:,.2f}'.format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map('${:,.2f}'.format)

purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
unique_sn = purchase_data.drop_duplicates(subset = ["SN","Gender","Age"])
gender_demo = pd.DataFrame(
    {"Total Counts":unique_sn["Gender"].value_counts(),
    "Percentage of Players":((unique_sn["Gender"].value_counts()/unique_sn.shape[0]))})

format_dict = {col_name: '{:.2%}' for col_name in gender_demo.select_dtypes(float).columns}

gender_demo['Percentage of Players'] = gender_demo['Percentage of Players'].round(4)
gender_demo.style.format(format_dict)

In [47]:
unique_sn.shape[0]

576

In [48]:
unique_sn.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [51]:
# Start by getting each column individually
# -----------------------------------------
# Purchase Count
gender_purch_count = purchase_data["Gender"].value_counts()
#gender_purch_count

# Average Purchase Price
# DO NOT USE THIS FORMAT: gender_avg_purch_price = purchase_data[["Gender","Price"]].groupby("Gender").mean()
# USE THIS FORMAT:        gender_avg_purch_price = purchase_data.groupby(["Gender"])["Price"].mean()
gender_avg_purch_price = purchase_data.groupby(["Gender"])["Price"].mean()
gender_avg_purch_price

# Total Purchase Value
gender_tot_purch_val = purchase_data.groupby(["Gender"])["Price"].sum()
gender_tot_purch_val

# Avg Total Purchase per Person
# gender_avg_tot_purch_per = unique_sn(["Gender","Price","SN"]).groupby("Gender").mean()
# gender_avg_tot_purch_per
avg_tot_purch_per = (gender_tot_purch_val)/(gender_demo["Total Counts"])
avg_tot_purch_per

# Then figure out how to get into data frame
# ------------------------------------------
purchasing_analysis_gender = pd.DataFrame(
    {"Purchase Count":gender_purch_count,
    "Average Purchase Price":gender_avg_purch_price,
    "Total Purchase Value":gender_tot_purch_val,
     "Avg Total Purchase per Person":avg_tot_purch_per})
purchasing_analysis_gender

# Then do formatting
# ------------------
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map('${:,.2f}'.format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_gender["Avg Total Purchase per Person"] = purchasing_analysis_gender["Avg Total Purchase per Person"].map('${:,.2f}'.format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [52]:
gender_tot_purch_val

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [53]:
gender_purch_count, gender_avg_purch_price, gender_tot_purch_val,avg_tot_purch_per

(Male                     652
 Female                   113
 Other / Non-Disclosed     15
 Name: Gender, dtype: int64,
 Gender
 Female                   3.203009
 Male                     3.017853
 Other / Non-Disclosed    3.346000
 Name: Price, dtype: float64,
 Gender
 Female                    361.94
 Male                     1967.64
 Other / Non-Disclosed      50.19
 Name: Price, dtype: float64,
 Female                   4.468395
 Male                     4.065372
 Other / Non-Disclosed    4.562727
 dtype: float64)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
# Describe data to determine min, max, mean, etc.
purchase_data["Age"].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [55]:
unique_sn

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [67]:
# Create bins as containers for "Age"
#bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]


# Create names for the 8 bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#use "sort index" to set bins to index
unique_sn["Age Range"] = pd.cut(unique_sn["Age"], bins, labels = group_names, include_lowest = True)

age_grouped = unique_sn.groupby("Age Range")
#age_grouped[["SN"]].count()

list(age_grouped.columns)

#Rename the columns
#age_grouped.rename(columns={'Purchase ID': 'Total Count', 'count': ''}, inplace=True)

# age_grouped2 = pd.DataFrame(age_grouped["SN"])

# #rename SN to Total Count
# age_grouped2 = age_grouped2.rename(columns={"SN":"Total Count"})

# #create new column with % by age group
# age_grouped2["Percentage of Players"] = age_grouped2.count #(count/sum of total count)*100)%

# ##FIGURE OUT HOW TO GET UNIQUE VALUES##

<ipython-input-67-ddb5b70022d2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_sn["Age Range"] = pd.cut(unique_sn["Age"], bins, labels = group_names, include_lowest = True)

AttributeError: 'DataFrameGroupBy' object has no attribute 'columns'

In [57]:
unique_sn

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [ ]:
#purchase_data.groupby["Age Range"]()

#purchase_data

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame