### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Preview csv data
#purchase_data.columns
purchase_data.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

## Player Count

* Display the total number of players

In [28]:
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame(
    {"Total Players":[player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())

# Average Price
average_price = purchase_data["Price"].mean()

# Number of Purchases
no_of_purchases = len(purchase_data["Purchase ID"].unique())

# Total Revenue
total_revenue = purchase_data["Price"].sum()

# Print all totals
unique_items, average_price, no_of_purchases, total_revenue

# Create new DataFrame to hold all data
purchasing_analysis_total = pd.DataFrame(
    {"Number of Unique Items":[unique_items],
     "Average Price":[average_price],
     "Number of Purchases":[no_of_purchases],
     "Total Revenue":[total_revenue]})

# Overriding column with new format
purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].map('${:,.2f}'.format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map('${:,.2f}'.format)

purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_sn = purchase_data.drop_duplicates(subset = ["SN","Gender","Age"])
gender_demo = pd.DataFrame(
    {"Total Counts":unique_sn["Gender"].value_counts(),
    "Percentage of Players":((unique_sn["Gender"].value_counts()/unique_sn.shape[0]))})

format_dict = {col_name: '{:.2%}' for col_name in gender_demo.select_dtypes(float).columns}

gender_demo['Percentage of Players'] = gender_demo['Percentage of Players'].round(4)
gender_demo.style.format(format_dict)

In [5]:
unique_sn.shape[0]

576

In [6]:
unique_sn.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [9]:
# Start by getting each column individually
# -----------------------------------------
# Purchase Count
gender_purch_count = purchase_data["Gender"].value_counts()
#gender_purch_count

# Average Purchase Price
# DO NOT USE THIS FORMAT: gender_avg_purch_price = purchase_data[["Gender","Price"]].groupby("Gender").mean()
# USE THIS FORMAT:        gender_avg_purch_price = purchase_data.groupby(["Gender"])["Price"].mean()
gender_avg_purch_price = purchase_data.groupby(["Gender"])["Price"].mean()
gender_avg_purch_price

# Total Purchase Value
gender_tot_purch_val = purchase_data.groupby(["Gender"])["Price"].sum()
gender_tot_purch_val

# Avg Total Purchase per Person
# gender_avg_tot_purch_per = unique_sn(["Gender","Price","SN"]).groupby("Gender").mean()
# gender_avg_tot_purch_per
avg_tot_purch_per = (gender_tot_purch_val)/(gender_demo["Total Counts"])
avg_tot_purch_per

# Then figure out how to get into data frame
# ------------------------------------------
purchasing_analysis_gender = pd.DataFrame(
    {"Purchase Count":gender_purch_count,
    "Average Purchase Price":gender_avg_purch_price,
    "Total Purchase Value":gender_tot_purch_val,
     "Avg Total Purchase per Person":avg_tot_purch_per})
purchasing_analysis_gender

# Then do formatting
# ------------------
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map('${:,.2f}'.format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_gender["Avg Total Purchase per Person"] = purchasing_analysis_gender["Avg Total Purchase per Person"].map('${:,.2f}'.format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
gender_tot_purch_val

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [11]:
gender_purch_count, gender_avg_purch_price, gender_tot_purch_val,avg_tot_purch_per

(Male                     652
 Female                   113
 Other / Non-Disclosed     15
 Name: Gender, dtype: int64,
 Gender
 Female                   3.203009
 Male                     3.017853
 Other / Non-Disclosed    3.346000
 Name: Price, dtype: float64,
 Gender
 Female                    361.94
 Male                     1967.64
 Other / Non-Disclosed      50.19
 Name: Price, dtype: float64,
 Female                   4.468395
 Male                     4.065372
 Other / Non-Disclosed    4.562727
 dtype: float64)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Describe data to determine min, max, mean, etc.
purchase_data["Age"].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [13]:
unique_sn

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [87]:
# Create bins as containers for "Age"
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create names for the 8 bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Create lists from purchase data for unique users
player_demo = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demo = player_demo.drop_duplicates()
player_demo.count()

# Use "sort index" to set bins to index
player_demo["Age Range"] = pd.cut(player_demo["Age"], bins, labels = group_names, include_lowest = True)
player_demo.head()

# Count players in each Age Range
age_grouped = player_demo["Age Range"].value_counts()

# Reorder the index in ascending order
age_grouped = age_grouped.sort_index(ascending=True)
age_grouped

# Create age group percentage series
age_grouped_percentage = age_grouped/player_count*100
age_grouped_percentage.head()

# Create dataframe
age_demo = pd.DataFrame(
    {"Count":age_grouped,
     "Percent":age_grouped_percentage})

# Rename columns
age_demo.rename(columns = {'Count':'Total Count', 'Percent':'Percentage of Players'}, inplace=True)

# Reformat Percentage column
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{0:.2f}%".format)

age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [45]:
unique_sn

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [54]:
age_grouped

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Range, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [128]:
# Create bins as containers for "Age"
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create names for the 8 bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Create lists from purchase data for unique users
purchasing_df = purchase_data.loc[:,["Age", "Purchase ID", "Price", "SN"]]
# purchasing_df

# Use "sort index" to set bins to index
purchasing_df["Age Range"] = pd.cut(purchasing_df["Age"], bins, labels = group_names, include_lowest = True)
# purchasing_df

# Create Purchase Count grouped by Age Range
purchase_count = purchasing_df.groupby(["Age Range"]).count()["Price"]
# purchase_count

# Create Average Purchase Price grouped by Age Range
purchase_avg = purchasing_df.groupby(["Age Range"]).mean()["Price"]
# purchase_avg

# Create Total Purchase Value grouped by Age Range
purchase_total = purchasing_df.groupby(["Age Range"]).sum()["Price"]
# purchase_total

# Create Average Total Purchase per person by dividing purchase total by total people in each age group
purchase_per_person = purchase_total/age_demo["Total Count"]
# purchase_per_person

# Reformat Price columns
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map('${:,.2f}'.format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map('${:,.2f}'.format)

purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [120]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [136]:
# Determine Purchase Count grouped by SN
top_spend_count = purchase_data.groupby(["SN"]).count()["Price"]
top_spend_count

# Determine Average Purchase Price grouped by SN
top_spend_avg = purchase_data.groupby(["SN"]).mean()["Price"]
top_spend_avg

# Determine Total Purchase Value grouped by SN
top_spend_total = purchase_data.groupby(["SN"]).sum()["Price"]
top_spend_total

# Create dataframe combining all of the above values
top_spenders = pd.DataFrame(
    {"Purchase Count":top_spend_count,
    "Average Purchase Price":top_spend_avg,
    "Total Purchase Value":top_spend_total})

# Organize list based on Total Purchase value in descending order
top_spenders_ord = top_spenders.sort_values(by="Total Purchase Value",ascending=False)
top_spenders_ord.head(5)

# Reformat Price columns
top_spenders_ord["Average Purchase Price"] = top_spenders_ord["Average Purchase Price"].map('${:,.2f}'.format)
top_spenders_ord["Total Purchase Value"] = top_spenders_ord["Total Purchase Value"].map('${:,.2f}'.format)

top_spenders_ord.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [150]:
# Retrieve the Item ID, Item Name, and Item Price columns
top_item_count = purchase_data.groupby(["Item ID","Item Name"]).count()["Purchase ID"]
#top_item_count

top_item_price = purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]
#top_item_price

top_item_tot_val = purchase_data.groupby(["Item ID","Item Name"]).sum()["Price"]
#top_item_tot_val

# Create dataframe combining all of the above values
most_pop_items = pd.DataFrame(
    {"Purchase Count":top_item_count,
    "Item Price":top_item_price,
    "Total Purchase Value":top_item_tot_val})
most_pop_items

# Organize list based on Item Purchase Count in descending order
most_pop_items_ord = most_pop_items.sort_values(by="Purchase Count",ascending=False)
most_pop_items_ord.head(5)

# Reformat Price columns
most_pop_items_ord["Item Price"] = most_pop_items_ord["Item Price"].map('${:,.2f}'.format)
most_pop_items_ord["Total Purchase Value"] = most_pop_items_ord["Total Purchase Value"].map('${:,.2f}'.format)

top_spenders_ord.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame